body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background: linear-gradient(90deg, rgba(67,160,71,1) 0%, rgba(34,139,34,1) 100%);
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
